<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ktgk">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KTGK"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CauThuBongDaActivity"
            android:parentActivityName=".ProfileActivity" />
        <activity
            android:name=".RegesterActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".h_aguero"
            android:parentActivityName=".CauThuBongDaActivity" />
        <activity
            android:name=".c_ramos"
            android:parentActivityName=".CauThuBongDaActivity" />
        <activity
            android:name=".d_benzema"
            android:parentActivityName=".CauThuBongDaActivity" />
        <activity
            android:name=".e_debruyne"
            android:parentActivityName=".CauThuBongDaActivity" />
        <activity
            android:name=".f_neymar"
            android:parentActivityName=".CauThuBongDaActivity" />
        <activity
            android:name=".j_alves"
            android:parentActivityName=".CauThuBongDaActivity" />
        <activity
            android:name=".g_dimaria"
            android:parentActivityName=".CauThuBongDaActivity" />
        <activity
            android:name=".i_lampard"
            android:parentActivityName=".CauThuBongDaActivity" />
        <activity
            android:name=".a_messi"
            android:parentActivityName=".CauThuBongDaActivity" />
        <activity
            android:name=".b_iniesta"
            android:parentActivityName=".CauThuBongDaActivity" />
    </application>

</manifest>